[tool.poetry]
name = "openapi-to-fastapi"
version = "0.1.0"
description = "Create FastAPI routes from OpenAPI spec"
authors = ["Digital Living International Ltd"]
license = "BSD-3-Clause"
packages = [
    {include="openapi_to_fastapi", from="."}
]

[tool.poetry.scripts]
openapi-validator = "openapi_to_fastapi.cli:cli_validate_specs"

[tool.poetry.dependencies]
python = ">=3.6.1"
datamodel-code-generator = "^0.5.24"
fastapi = { version = "^0.47.1" }
genson = "1.2.1"
click = "^7.1.2"
coloredlogs = "^14.0"

[tool.poetry.dev-dependencies]
isort = ">=4.3.21"
pytest = "^6.0.1"
pytest-asyncio = "^0.10.0"
snapshottest = "^0.5.1"
flake8 = "^3.8.3"
mypy = "^0.782"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
