[tool.poetry]
name = "openapi-to-fastapi"
version = "0.6.0"
description = "Create FastAPI routes from OpenAPI spec"
authors = ["Digital Living International Ltd"]
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/ioxiocom/openapi-to-fastapi"
packages = [
    {include="openapi_to_fastapi", from="."}
]

[tool.poetry.scripts]
openapi-validator = "openapi_to_fastapi.cli:cli_validate_specs"

[tool.poetry.dependencies]
python = ">=3.7,<4.0.0"
datamodel-code-generator = "^0.13.1"
fastapi = "^0.80.0"
genson = "^1.2.2"
click = "^8.1.3"
coloredlogs = "^15.0.1"

[tool.poetry.dev-dependencies]
isort = "^5.10.1"
pytest = "^7.2.1"
pytest-asyncio = "^0.19.0"
snapshottest = "^0.6.0"
flake8 = "^5.0.4"
mypy = "^0.971"
invoke = "^1.7.1"

[tool.skjold]
report_only = false
sources = ["pyup", "gemnasium"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
