[tool.poetry]
name = "openapi-to-fastapi"
version = "0.15.0"
description = "Create FastAPI routes from OpenAPI spec"
authors = ["IOXIO Ltd"]
license = "BSD-3-Clause"
readme = "README.md"
repository = "https://github.com/ioxiocom/openapi-to-fastapi"
packages = [
    {include="openapi_to_fastapi", from="."}
]

[tool.poetry.scripts]
openapi-validator = "openapi_to_fastapi.cli:cli_validate_specs"

[tool.poetry.dependencies]
python = ">=3.8,<4.0.0"
datamodel-code-generator = "^0.22.1"
fastapi = "^0.109.0"
click = "^8.1.3"
coloredlogs = "^15.0.1"
pydantic = "^2.4.2"

[tool.poetry.dev-dependencies]
isort = "^5.10.1"
pytest = "^7.2.2"
pytest-asyncio = "^0.20.3"
snapshottest = "^0.6.0"
flake8 = "^5.0.4"
mypy = "^1.1.1"
invoke = "^2.0.0"
httpx = "^0.23.3"

[tool.skjold]
report_only = false
sources = ["pyup", "gemnasium"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
